@page
@using Movies_SeriesWebsite.Models
@model MoviesListModel
@{
    ViewData["Title"] = "Movies";
}

<div class="container p-3">
    <h1>Movies List</h1>

    <!-- Button to trigger modal -->
    <div class="col text-end pb-4">
        <button class="btn btn-primary mx-2 text-end" data-bs-toggle="modal" data-bs-target="#addMoviesModal">
            <i class="bi bi-plus-square"></i> &nbsp;Add Movies
        </button>
    </div>


    <div class="modal fade" id="addMoviesModal" tabindex="-1" aria-labelledby="addMoviesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMoviesModalLabel">Add Movie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form inside modal -->
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="MoviesModelPOST.movieName" class="form-label">Movie Name:</label>
                            <input type="text" class="form-control" asp-for="MoviesModelPOST.movieName" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="MoviesModelPOST.year" class="form-label">Year:</label>
                            <input type="number" class="form-control" asp-for="MoviesModelPOST.year" min="1900" max="2100" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="MoviesModelPOST.own" class="form-label">Own:</label>
                            <select class="form-control" asp-for="MoviesModelPOST.own">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <!-- Botão "Save changes" dentro do formulário -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
                <th scope="col">Own</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model.MoviesModelGET)
            {
                <tr>
                    <td>@movie.movieName</td>
                    <td>@movie.year</td>
                    <td>@(movie.own ? "Yes" : "No")</td>
                    <td width="30%" class="text-center">
                        <div class="w-75 btn-group btn-group-sm" role="group" style="text-align:center">
                            <a asp-page="EditMovie" asp-route-id="@movie.id" class="btn btn-primary  mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@movie.id">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                            </form>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}